.workspace {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    gap: 10px;
    border-radius: 8px;
}

.space {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    background: var(--bg-cards);
    box-shadow: 0px 4px 10px 0px var(--black);
    backdrop-filter: blur(7px);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}


.task {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
}

.notes {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
}

.seeMore {
    display: flex;
    padding: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    gap: 5px;
}