/*Estilos Header*/
.itemSelected {
    color: var(--secondary-main);
    border-bottom: 1px solid var(--secondary-main);
}

/*Estilos Task*/
.Frame2Pending {
    outline: 2px solid var(--accent-blue);
}

.Frame2Start {
    outline: 2px solid var(--accent-yellow);
}

.Frame2Completed {
    outline: 2px solid var(--accent-green);
}

/*Estilos TaskFinder*/
.TodoSearch {
    background: var(--white);
    border-radius: 8px;
    border: 2px solid var(--primary-main);
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: var(--black);
}

.TodoSearch::placeholder {
    color: var(--gray-light);
}

.TodoSearch:focus {
    outline-color: var(--secondary-main);
}

/*Estilos TextArea New Task*/
.newTaskStyle {
    background: var(--white);
    border-radius: 2px;
    border: 2px solid var(--primary-main);
    margin: 0;
    padding: 10px;
    width: calc(100% - 40px);
    height: 70px;
    text-align: center;
    color: var(--black);
    font-family: 'Montserrat';
}

.newTaskStyle::placeholder {
    color: var(--gray-light);
}

.newTaskStyle:focus {
    outline-color: var(--secondary-main);
}