
/*Estilos Task*/
.Pending {
    outline: 2px solid var(--accent-blue);
}

.Start {
    outline: 2px solid var(--accent-yellow);
}

.Completed {
    outline: 2px solid var(--accent-green);
}

/*Estilos TaskFinder*/
.TodoSearch {
    background: var(--white);
    border-radius: 8px;
    border: 2px solid var(--primary-main);
    padding: 10px 0;
    width: 100%;
    height: 16px;
    text-align: center;
    color: var(--black);
}

.TodoSearch::placeholder {
    color: var(--gray-light);
}

.TodoSearch:focus {
    outline-color: var(--secondary-main);
}

