/*Estilos Header*/
.itemSelected {
    color: var(--secondary-main);
    border-bottom: 1px solid var(--secondary-main);
}

/*Estilos Task*/
.Frame2Pending {
    outline: 2px solid var(--accent-blue);
}

.Frame2Start {
    outline: 2px solid var(--accent-yellow);
}

.Frame2Completed {
    outline: 2px solid var(--accent-green);
}

/*Estilos CreateTask*/
.Frame9 {
    display: flex;
    padding: 10px 79px;
    justify-content: space-between;
    align-items: center;
}

.CreateTodoButton {
    border-radius: 100px;
    background: var(--secondary-main);
    border: none;
    cursor: pointer;
    transform: rotate(-90deg);
    font-size: 48px;
    font-weight: 200;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 58px;
    transition: .3s ease;
}

.CreateTodoButton:hover {
    transform: rotate(270deg)
}

/*Estilos TaskFinder*/
.TodoSearch {
    background: var(--white);
    border-radius: 2px;
    border: 2px solid var(--primary-main);
    margin: 0 24px;
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 18px;
    text-align: center;
    color: var(--black);
  }
  
  .TodoSearch::placeholder {
    color: var(--gray-light);
  }
  
  .TodoSearch:focus {
    outline-color: var(--secondary-main);
  }