body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20;
  align-items: center;
  background: linear-gradient(126deg, #001724 26.6%, #68D6F1 35.77%, #9E68F1 42.34%, #001724 49.18%, #001724 62.19%, #68D6F1 68.76%, #9E68F1 74.92%, #001724 81.63%);
  font-family: 'BankGothic Md BT', sans-serif;
  font-family: 'Bank Gothic Light', sans-serif;
  font-family: 'BankGothic', sans-serif;

}

#root {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.10);
}