.generalNotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    gap: 10px;
    border-radius: 8px;

    @media screen and (max-width: 600px) {
        height: calc(100% - 50px);
    }
}

.note {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    min-width: 200px;
    background-color: var(--bg-cards);
    box-shadow: 0px 4px 10px 0px var(--black);
    backdrop-filter: blur(7px);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;

    @media screen and (max-width: 600px) {
        width: calc(50% - 25px);
        min-width: calc(50% - 25px);
    }
}

.description {
    display: flex;
    width: 100%;
    height: calc(100% - 53px);
    overflow: hidden;
    cursor: pointer;
}

.NoteIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    height: 80px;
    width: calc(100% - 20px);
    bottom: 10px;
    left: 10px;
    gap: 5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #263A45 85%);
}